.about {
    // background-color: $boringBeige;
    background: rgb(19,18,18);
    background: linear-gradient(180deg, rgba(19,18,18,1) 0%, rgba(239,219,208,1) 0%, rgba(255,189,129,1) 96%);
    text-align: center;
    padding: 5% 0 0 0;
}

.aboutContainer {
    display: flex;
    align-items: center;
}

.about p {
    text-transform: none;
    text-align: left;
    font-weight: 300;
    width: 50%;
    padding: 5% 0 5% 25px;

    line-height: 30px;
}

.aboutPhoto {
    margin: 0 auto;
    width: 50%;  
    border-radius: 50%;
    padding: 5% 0;
}

.aboutPhoto img {
    width: 100%;
    object-fit: cover;
    object-position: right;
    border-radius: 15%;
    box-shadow: 3px 3px 3px $prettyPink;
    
}