.about {
    background-color: white;
    text-align: center;
    padding: 5% 0 0 0;
}

.aboutContainer {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.aboutBlurb {
    text-transform: none;
    text-align: left;
    font-weight: 300;
    width: calc(50% - 10px); 
    padding: 5% 10px 5% 25px;
    line-height: 30px;
}

.about p {
    text-transform: none;
}

.aboutPhoto {
    margin: 0 auto;
    width: calc(50% - 10px);  
    padding: 5% 0;
}

.aboutPhoto img {
    width: 100%;
    object-fit: cover;
    object-position: right;
    border-radius: 30% 70% 38% 62% / 54% 74% 26% 46% ;
    
}