.contact {
    background: rgb(19,18,18);
    background: linear-gradient(180deg, rgba(19,18,18,1) 0%, rgba(246,184,197,1) 0%, rgba(239,219,208,1) 96%);

    text-align: center;

    padding: 5% 0;
}

.contact p {
    width: 60%;
    margin: 0 auto;
    padding-top: 20px;

    text-transform: none;
}

form {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
}

form label {
    padding: 5px 0 10px;
    text-align: left;
    
}

input {
    padding: 10px;
}

input, textarea {
    background-color: $boringBeige;
    border: none;
}

form button {
    width: 100px;
    border: none;
    padding: 5px 10px;
    margin: 20px 0;
    background-color: $boringBeige;
}

.contact ul {
    display: flex;
    width: 50%;
    justify-content: space-between;
    margin: 0 auto;
}

.contact a {
    font-size: 1.8rem;
}

.contact li {
    font-size: 5rem;
}

.contact li a {
    font-size: 5rem;
    text-decoration: none;
    color: $grandpaGray;
}

.emailPhone {
    display: flex;
    flex-direction: column;
}

.emailPhone a {
    color: $grandpaGray;
    text-decoration: none;
    padding: 5px;
}