@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
    color: $grandpaGray;
}

h1, h2 {
    margin: 0;
}

h2 {
    font-size: 3rem;
    font-weight: 300;

    margin: 0 auto;
    padding: 5px 10px;
    border: 1px solid $grandpaGray;
    border-radius: 5px;
    display: inline-block;
}

h3 {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 700;
    

}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

p { 
    font-size: 1.8rem;
    text-transform: uppercase;
}

nav a {
    text-decoration: none;
    color: $grandpaGray;
    font-size: 1.4rem;
    font-weight: 400;
}

form {
    font-size: 1.6rem;
}


.wrapper {
    max-width: 1080px;
    width: 90%;
    margin: 0 auto;
}

footer {
    background-color: $boringBeige;
    text-align: center;
    margin: 0;

}

