header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(255,189,129);
    background: linear-gradient(180deg, rgba(255,189,129,1) 0%, rgba(246,184,197,1) 46%, rgba(239,219,208,1) 96%);
    height: 100vh;
    color: black;
}

nav {
    width: 90vw;
}

nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    width: 60%;

    padding-bottom: 15px;
    margin: 0 auto;

    animation: fall 3s;
    animation-iteration-count: 1;
}

.navFixed {
    position: fixed;
    top: 0; 
    background-color: black;
    padding: 10px;
    z-index: 1000;
    width: 100%;
}

.navFixed ul {
    animation: none;
}
.navFixed a {
    font-size: 1.8rem;
    color: $boringBeige;
}

.menuButton {
    font-size: 4rem;
    position: fixed;
    background: none;
    top: 0;
    display: none;
    border: none;
    padding: 5px;
}

.menuButton i {
    background: $yumCreamsicle;
    border-radius: 50%;
}

.show {
    display: block;
}

h1 {
    font-size: calc(3rem + 2vw);
    letter-spacing: 3px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;

    margin: 0 auto;

    width: 70%;

    padding: 2vw 0;

    border: 2px solid black; 
    border-radius: 5px;

    animation: slide 1s;
    animation-iteration-count: 1;
}

.name p {
    text-align: center;
}

.arrow {
    position: absolute;
    bottom: 25px;

    font-size: 4rem;
    
}

.arrow a {
    color: black;
}

.arrow:hover {
    font-size: 5rem;
}


@keyframes fall {
    from { transform: translate(0, -200px);     }
    to   { transform: translate(0, 0); }
}

@keyframes slide {
    from {transform: translate(-100%, 0); }
    to { transform: translate(0,0); }
}