
@media (max-width: 768px) {

    .aboutContainer {
        flex-direction: column;
    }

    .aboutPhoto {
        width: 75%;
    }

    .about p {
        font-size: 1.6rem;
        width: 100%;
    }

    h1 {
        font-size: calc(3rem + 3vw);

        flex-direction: column;
    }


    h1 span {
    font-size: calc(3rem + 3vw);
}

    h3 {
        font-size: 1.8rem;
    }

    .portfolio p {
        font-size: 1.6rem;

    }

    form {
        width: 100%;
    }



}

@media (max-width: 480px) {


    h1 {
        font-size: calc(2rem + 2vw);
    }


    h1 span {
    font-size: calc(2rem + 2vw);
    }

    .menuButton {
        display: block;
        z-index: 1005;
        
    }

    .menuButton i:hover {
        background: rgb(255, 225, 0);
        border-radius: 50%;
    }

    nav ul {
        width: auto;
        top: 60px;
        left: 0;
        flex-direction: column;
        justify-content: left;
        align-items: flex-start;

        display: none;
        animation: none;
        position: fixed;
        background: rgb(255, 225, 0);
        padding-top: 5px;
    }

    nav a {
        font-size: 1.8rem;
        padding: 5px;
    }

    nav a:hover {
        background-color: white;
    }

    .navFixed {
        background: none;
    }

    .navFixed a {
        color: black;
    }

    .about p {
        line-height: 20px;
        text-align: center;
    }

    .prev,
    .next {
        font-size: 2rem;
    }

    .next {
    right: 0;
    bottom: 70%;
    }

    .prev {
    left: 0;
    bottom: 70%;
    }

    h3 {
        font-size: 1.2rem;

    }

    

}