
.portfolio {
    
    background-color: $prettyPink; 
    text-align: center;
    padding: 5% 0;
}

.portfolio h2 {
    margin-bottom: 5%;
}


.portfolio p {
    text-transform: none;
}

.photo {
    width: 75%; 
    margin: 0 auto;
    padding-bottom: 25px;
}

.carousel img {
    max-width: 100%;
    object-fit: fill;
    border-radius: 15px;
    box-shadow: 4px 4px 3px black;
}


.carousel {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.app {
    display: none;
    margin: 0 auto;
    position: relative;
}

//buttons

.prev,
.next {
    cursor: pointer;
    background: none;
    position: absolute;
    padding: 16px;
    color: black;
    font-weight: bold;
    font-size: 4rem;
    transition: 0.6s ease;
    border: none;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.prev:hover,
.next:hover {
    color: white;
}

.next {
    right: 0;
    bottom: 50%;
}

.prev {
    left: 0;
    bottom: 50%;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: black;
}