@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
}

h1, h2 {
  margin: 0;
}

h2 {
  font-size: 3rem;
  font-weight: 300;
  margin: 0 auto;
  padding: 5px 10px;
  border: 1px solid #323232;
  border-radius: 5px;
  display: inline-block;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

p {
  font-size: 1.8rem;
  text-transform: uppercase;
}

nav a {
  text-decoration: none;
  color: white;
  font-size: 1.4rem;
  font-weight: 700;
}

form {
  font-size: 1.6rem;
}

.wrapper {
  max-width: 1080px;
  width: 90%;
  margin: 0 auto;
}

html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #131212;
  background: -webkit-gradient(linear, left top, right top, from(#131212), color-stop(0%, #efdbd0), color-stop(54%, #ffbd81), to(#f6b8c5));
  background: linear-gradient(90deg, #131212 0%, #efdbd0 0%, #ffbd81 54%, #f6b8c5 100%);
  height: 100vh;
  color: white;
  text-shadow: 2px 2px #323232;
  position: relative;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  width: 60%;
  padding-bottom: 15px;
  margin: 0 auto;
  -webkit-animation: fall 3s;
          animation: fall 3s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

h1 {
  font-size: 6rem;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  margin: 0 auto;
  width: 60%;
  padding: 2vw;
  border: 2px solid white;
  border-radius: 5px;
  -webkit-animation: slide 1s;
          animation: slide 1s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

.name p {
  text-align: center;
}

.arrow {
  position: absolute;
  bottom: 25px;
  font-size: 4rem;
}

.arrow a {
  color: white;
}

.arrow:hover {
  font-size: 5rem;
}

@-webkit-keyframes fall {
  from {
    -webkit-transform: translate(0, -200px);
            transform: translate(0, -200px);
  }
  to {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@keyframes fall {
  from {
    -webkit-transform: translate(0, -200px);
            transform: translate(0, -200px);
  }
  to {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
@-webkit-keyframes slide {
  from {
    -webkit-transform: translate(-100%, 0);
            transform: translate(-100%, 0);
  }
  to {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
@keyframes slide {
  from {
    -webkit-transform: translate(-100%, 0);
            transform: translate(-100%, 0);
  }
  to {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
.contact {
  background-color: white;
  text-align: center;
  padding: 5% 0;
}

.contact p {
  width: 60%;
  margin: 0 auto;
  padding: 25px 0;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  margin: 0 auto;
}

form label {
  padding: 5px 0 10px;
  text-align: left;
}

input {
  padding: 10px;
}

input, textarea {
  background-color: #f6b8c5;
  border: none;
}

form button {
  width: 100px;
  border: none;
  padding: 5px 10px;
  margin: 5px 0;
}

.about {
  background-color: #efdbd0;
  text-align: center;
  padding: 10%;
}

.about p {
  text-transform: none;
  text-align: left;
}

.aboutPhoto {
  margin: 0 auto;
  width: 50%;
  height: 25%;
  border-radius: 50%;
}

.aboutPhoto img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: right;
     object-position: right;
}

.portfolio {
  background-color: #ffbd81;
  text-align: center;
  padding: 5% 0;
}

.portfolio h2 {
  margin-bottom: 5%;
}

.portfolio p {
  text-transform: none;
}

.photo {
  width: 75%;
  margin: 0 auto;
  padding-bottom: 25px;
}

.carousel img {
  max-width: 100%;
  -o-object-fit: fill;
     object-fit: fill;
}

.carousel {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.app {
  display: none;
  margin: 0 auto;
  position: relative;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.next {
  right: 0;
  bottom: 50%;
}

.prev {
  left: 0;
  bottom: 50%;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  -webkit-transition: background-color 0.6s ease;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}