@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
  color: black;
}

h1, h2 {
  margin: 0;
}

h2 {
  font-size: 3rem;
  font-weight: 300;
  margin: 0 auto;
  padding: 5px 10px;
  border: 1px solid black;
  border-radius: 5px;
  display: inline-block;
}

h3 {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 700;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

p {
  font-size: 1.8rem;
  text-transform: uppercase;
}

nav a {
  text-decoration: none;
  color: black;
  font-size: 1.4rem;
  font-weight: 400;
}

form {
  font-size: 1.6rem;
}

.wrapper {
  max-width: 1080px;
  width: 90%;
  margin: 0 auto;
}

footer {
  background-color: #efdbd0;
  text-align: center;
  padding: 20px;
}

footer p {
  font-size: 1.2rem;
  text-transform: none;
}

html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #ffbd81;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffbd81), color-stop(46%, #f6b8c5), color-stop(96%, #efdbd0));
  background: linear-gradient(180deg, #ffbd81 0%, #f6b8c5 46%, #efdbd0 96%);
  height: 100vh;
  color: black;
}

nav {
  width: 90vw;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  width: 60%;
  padding-bottom: 15px;
  margin: 0 auto;
  -webkit-animation: fall 3s;
          animation: fall 3s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

.navFixed {
  position: fixed;
  top: 0;
  background-color: black;
  padding: 10px;
  z-index: 1000;
  width: 100%;
}

.navFixed ul {
  -webkit-animation: none;
          animation: none;
}

.navFixed a {
  font-size: 1.8rem;
  color: #efdbd0;
}

.menuButton {
  font-size: 4rem;
  position: fixed;
  background: none;
  top: 0;
  display: none;
  border: none;
  padding: 5px;
}

.menuButton i {
  background: #ffbd81;
  border-radius: 50%;
}

.show {
  display: block;
}

h1 {
  font-size: calc(3rem + 2vw);
  letter-spacing: 3px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  margin: 0 auto;
  max-width: 1080px;
  width: 70%;
  padding: 2vw 0;
  border: 2px solid black;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-animation: slide 3s;
          animation: slide 3s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

.boyer {
  padding-left: 25px;
}

h1 span {
  font-size: calc(2.5rem + 2vw);
}

h1 span i:hover {
  -webkit-animation: jump 2s;
          animation: jump 2s;
}

.name p {
  text-align: center;
}

.arrow {
  position: absolute;
  bottom: 25px;
  font-size: 4rem;
}

.arrow a {
  color: black;
}

.arrow:hover {
  font-size: 5rem;
}

@-webkit-keyframes jump {
  from {
    -webkit-transform: translate(0, -10px);
            transform: translate(0, -10px);
  }
  to {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@keyframes jump {
  from {
    -webkit-transform: translate(0, -10px);
            transform: translate(0, -10px);
  }
  to {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
@-webkit-keyframes fall {
  from {
    -webkit-transform: translate(0, -200px);
            transform: translate(0, -200px);
  }
  to {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
@keyframes fall {
  from {
    -webkit-transform: translate(0, -200px);
            transform: translate(0, -200px);
  }
  to {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
@-webkit-keyframes slide {
  from {
    -webkit-transform: translate(-100%, 0);
            transform: translate(-100%, 0);
  }
  to {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
@keyframes slide {
  from {
    -webkit-transform: translate(-100%, 0);
            transform: translate(-100%, 0);
  }
  to {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
.contact {
  background-color: #efdbd0;
  text-align: center;
  padding: 5% 0;
}

.contact p {
  width: 60%;
  margin: 0 auto;
  padding-top: 20px;
  text-transform: none;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 60%;
  margin: 0 auto;
}

form label {
  padding: 5px 0 10px;
  text-align: left;
}

input {
  padding: 10px;
}

input, textarea {
  font-family: "Roboto", sans-serif;
  text-transform: capitalize;
  background-color: white;
  border: none;
  -webkit-box-shadow: 2px 2px 2px black;
          box-shadow: 2px 2px 2px black;
  margin: 10px 0;
  padding: 20px 0 20px 20px;
}

form button {
  width: 100px;
  border: none;
  padding: 10px 10px;
  margin: 20px 0;
  background-color: black;
  color: #efdbd0;
  text-transform: uppercase;
}

form button:hover {
  background-color: #ec9c51;
}

form button:active {
  -webkit-box-shadow: 2px 2px black;
          box-shadow: 2px 2px black;
}

.contact ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
}

.contact a {
  font-size: 1.8rem;
}

.contact li {
  font-size: 5rem;
}

.contact li a {
  font-size: 5rem;
  text-decoration: none;
  color: black;
}

.email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.email a {
  color: black;
  text-decoration: none;
  padding: 5px;
}

.about {
  background-color: white;
  text-align: center;
  padding: 5% 0 0 0;
}

.aboutContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about p {
  text-transform: none;
  text-align: left;
  font-weight: 300;
  width: calc(50% - 10px);
  padding: 5% 10px 5% 25px;
  line-height: 30px;
}

.aboutPhoto {
  margin: 0 auto;
  width: calc(50% - 10px);
  padding: 5% 0;
}

.aboutPhoto img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: right;
     object-position: right;
  border-radius: 30% 70% 38% 62%/54% 74% 26% 46%;
  -webkit-box-shadow: 3px 3px 3px #f6b8c5;
          box-shadow: 3px 3px 3px #f6b8c5;
}

.portfolio {
  background-color: #f6b8c5;
  text-align: center;
  padding: 5% 0;
}

.portfolio h2 {
  margin-bottom: 5%;
}

.portfolio p {
  text-transform: none;
}

.photo {
  width: 75%;
  margin: 0 auto;
  padding-bottom: 25px;
}

.carousel img {
  max-width: 100%;
  -o-object-fit: fill;
     object-fit: fill;
  border-radius: 15px;
  -webkit-box-shadow: 4px 4px 3px black;
          box-shadow: 4px 4px 3px black;
}

.carousel {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.app {
  display: none;
  margin: 0 auto;
  position: relative;
}

.prev,
.next {
  cursor: pointer;
  background: none;
  position: absolute;
  padding: 16px;
  color: black;
  font-weight: bold;
  font-size: 4rem;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  border: none;
  border-radius: 0 3px 3px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.prev:hover,
.next:hover {
  color: white;
}

.next {
  right: 0;
  bottom: 50%;
}

.prev {
  left: 0;
  bottom: 50%;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  -webkit-transition: background-color 0.6s ease;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: black;
}

@media (max-width: 768px) {
  .aboutContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .aboutPhoto {
    width: 75%;
  }

  .about p {
    font-size: 1.6rem;
    width: 100%;
  }

  h1 {
    font-size: calc(3rem + 3vw);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  h1 span {
    font-size: calc(3rem + 3vw);
  }

  h3 {
    font-size: 1.8rem;
  }

  .portfolio p {
    font-size: 1.6rem;
  }

  form {
    width: 100%;
  }
}
@media (max-width: 480px) {
  h1 {
    font-size: calc(2rem + 2vw);
  }

  h1 span {
    font-size: calc(2rem + 2vw);
  }

  .menuButton {
    display: block;
    z-index: 1005;
  }

  .menuButton i:hover {
    background: #efdbd0;
    border-radius: 50%;
  }

  nav ul {
    width: auto;
    top: 60px;
    left: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    display: none;
    -webkit-animation: none;
            animation: none;
    position: fixed;
    background: #ffbd81;
    padding-top: 5px;
  }

  nav a {
    font-size: 1.8rem;
    padding: 5px;
  }

  nav a:hover {
    background-color: #efdbd0;
  }

  .navFixed {
    background: none;
  }

  .navFixed a {
    color: black;
  }

  .about p {
    line-height: 20px;
    text-align: center;
  }

  .prev,
.next {
    font-size: 2rem;
  }

  .next {
    right: 0;
    bottom: 70%;
  }

  .prev {
    left: 0;
    bottom: 70%;
  }

  h3 {
    font-size: 1.2rem;
  }
}